@media (prefers-color-scheme: dark) {
  body {
      background: #3D3D3D;
      color: white;
      text-align: center;
      font-family: system-ui;
  }

  a {
    text-decoration: none;
    color: #1E8582;
  }

  a:hover {
    text-decoration: underline;
    color: #1E8582;
  }

   .topnav {
            overflow: hidden;
            border-radius: 8px;
            background-color: #1E8582;
            position: sticky;
            top: 0px;
        }

        .topnav a {
            float: left;
            display: block;
            color: #AAAAAA;
            text-align: center;
            padding: 12px 14px;
            text-decoration: none;
            font-size: 17px;
            font-weight: 400;
        }

  .button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #1e8582;
    border-radius: 30px;
    background: #1e8582;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid #27ada9;
    background: #24a09c;
    color: #ffffff;
    text-decoration: none;
}

input {
  background: none;
  color: #fff;
  border: 3px solid #1E8582;
  border-radius: 30px;
}

.box {
  border: 3px solid #1E8582;
  border-radius: 30px;
  background: none;
}

}
@media (prefers-color-scheme: light) {
  body {
    background: #EBEBEB;
    color: black;
    text-align: center;
    font-family: system-ui;
  }

  a {
    text-decoration: none;
    color: #78E0DC;
  }

  a:hover {
    text-decoration: underline;
    color: #78E0DC;
  }

  .topnav {
            overflow: hidden;
            border-radius: 8px;
            background-color: #78E0DC;
            position: sticky;
            top: 0px;
        }

        .topnav a {
            float: left;
            display: block;
            color: #AAAAAA;
            text-align: center;
            padding: 12px 14px;
            text-decoration: none;
            font-size: 17px;
            font-weight: 400;
        }

  .button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #78e0dd;
    border-radius: 30px;
    background: #78e0dd;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid #8afffe;
    background: #90ffff;
    color: #ffffff;
    text-decoration: none;
}

input {

  background: none;
  color: black;
  border: 3px solid #78E0DD;
  border-radius: 30px;
}

.box {
  border: 3px solid #78E0DC;
  border-radius: 30px;
  background: none;
}

}
